
tr:hover{
    background-color: purple;

}


th,td {

    padding: 20px;
}

.formulario{
    font-size:110%;;
    background-color:black; 
    color: white;  
    text-align: center;
    margin:auto;
    width: 100%;
    
}