@mixin alignment {
    font-size:110%;
    margin: 30px 0px; 
    line-height: 25px;
    text-align:start;
    display: flex;
    
    
}


.titulo {
    text-align:start;
    text-decoration:underline;
    display: flex;
    
    &__cuerpo{
        @include alignment;   
              
    }

}
