
@import "párrafos";
@import "piePagina";



.display_none {
    display:none;
}

.ancla{
    font-size: 20px;
    margin: 15px 15px ; 
    padding: 3px 3px;
}

#alineacion{
   text-align: center;
}

.formulario{
    text-align: center;
    font-size:large;
    padding: 5px 5px;
    margin: 30px 30px; 
    line-height: 25px;   
    
    
}

.discografia{
    
    margin-left: 50px;    
    
}

