
@import "text";
@import "piePagina";
@import "table";
@import "formulario";


.margins{
    margin-top: 65px;
    overflow-x: hidden;
}

.box{
    padding: 30px;
}


.ancla{
    font-size: 20px;
    margin: 15px 15px ; 
    padding: 3px 3px;
}












