.h1, .h3 {
  font-family: 'Cinzel', serif;
  text-align: center;
  padding-top: 38px;
  padding-bottom: 10px;
}

.h3 {
  padding-top: 0px;
}

.titulo {
  text-align: start;
  text-decoration: underline;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Cinzel', serif;
}

.titulo__cuerpo {
  font-size: 110%;
  margin: 30px 0px;
  line-height: 25px;
  text-align: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* variable con mapa de colores */
.settings, .piePagina {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: right;
  padding: 20px 20px 20px 30px;
}

/* aplico extend y map-get */
.piePagina {
  background-color: white;
}

.piePagina_icons {
  -webkit-transform: translate(10px, 20px);
          transform: translate(10px, 20px);
}

.contenedorTabla {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  padding: 0px;
}

.Tabla {
  width: 100%;
  border-collapse: collapse;
  margin: 0;
  padding: 20px;
  table-layout: fixed;
  text-align: center;
  font-size: 110%;
}

.Tabla tr {
  background-color: black;
  color: white;
}

.Tabla th, .Tabla td {
  padding: 15px;
  text-align: center;
}

.Tabla thead th {
  text-transform: uppercase;
  color: purple;
}

.Tabla tbody tr:hover {
  background-color: #a829a8;
}

.Tabla tbody td:hover {
  background-color: purple;
}

@media screen and (max-width: 600px) {
  .Tabla {
    border: 0px;
  }
  .Tabla thead {
    display: none;
  }
  .Tabla tr {
    display: block;
    margin-bottom: 8px;
    border-bottom: 4px solid #cccc;
  }
  .Tabla td {
    display: block;
    text-align: center;
  }
}

.form {
  text-align: center;
}

.formItem {
  margin: 15px 15px;
  padding: 3px 3px;
  font-size: 110%;
}

.ancla {
  font-size: 110%;
  margin: 15px 15px;
  padding: 10px 10px;
  color: black;
}

.ancla:hover {
  color: purple;
}

.margins {
  margin-top: 65px;
  overflow-x: hidden;
}

.box {
  padding: 30px;
}
