.h1, .h3 {
  font-family: 'Cinzel', serif;
  text-align: center;
  padding-top: 38px;
  padding-bottom: 10px;
}

.h3 {
  padding-top: 0px;
}

.titulo {
  text-align: start;
  text-decoration: underline;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Cinzel', serif;
}

.titulo__cuerpo {
  font-size: 110%;
  margin: 30px 0px;
  line-height: 25px;
  text-align: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* variable con mapa de colores */
.settings, .piePagina {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: right;
  padding: 20px 20px 20px 30px;
}

/* aplico extend y map-get */
.piePagina {
  background-color: white;
}

.piePagina_icons {
  -webkit-transform: translate(10px, 20px);
          transform: translate(10px, 20px);
}

.marginTop {
  margin-top: 65px;
  overflow-x: hidden;
}

.box {
  padding: 30px;
}

.ancla {
  font-size: 20px;
  margin: 15px 15px;
  padding: 3px 3px;
}

.formulario {
  text-align: center;
  font-size: large;
  padding: 5px 5px;
  margin: 30px 30px;
  line-height: 25px;
}
